**/GoogleAppMeasurement.framework/GoogleAppMeasurement filter=lfs diff=lfs merge=lfs -text
**/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics filter=lfs diff=lfs merge=lfs -text
**/FirebaseInstanceID.framework/FirebaseInstanceID filter=lfs diff=lfs merge=lfs -text
